#faq-title {
  font-size: 4em;
  font-weight: bold !important;
  color: #2883d7;
  padding-bottom: 0;
  margin: 0em;
  margin-bottom: 0.5em;
}

.faq-body {
  margin: auto !important;
}

.faq-section {
  margin-top: 20px;
}

img.underline {
  width: 64.59vh;
  z-index: -1;
  position: relative;
  bottom: 15.82vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin: 0px;
}

img.underline {
  width: 64.59vh;
  z-index: -1;
  position: relative;
  bottom: 15.82vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin: 0px;
  rotate: 90deg;
}

#faq-question {
  font-weight: 400 !important;
  font-size: 27px;
}

.col1,
.col2 {
  margin-left: 30px;
}

/* 
.faq-answer {
  font-size: 2px ; This styling is available in questions.js
} */
