.collapsible-group {
  display: flex;
}

.collapsible-group .expand-button {
  font-weight: bold;
  color: #000;
  border: unset;
}

.expand-button {
  display: inline-block;
  font-size: larger;
  position: relative;
  bottom: 36px;
  right: 20px;
}

.expand-button:hover {
  cursor: pointer;
  color: #2883d7;
}

.collapsible-group .group-content {
  max-height: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
  overflow: hidden;
}

.collapsible-group .group-content.active {
  max-height: 100em;
}

/*.randomItem{
    height: 100px;
    width: 200px;
    background-color: #000;
    transition-timing-function: linear;
    transition: height 3s;
}

.randomItem.active{
    height: 200px;
}*/
