.umbrella {
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.panel {
  position: absolute;
  background-color: #333;
  width: 5px;
  height: 180px;
  top: -25px;
  left: 60px;
  z-index: 3;
}

.img {
  position: relative;
  height: 130px;
  width: 130px;
  background-color: #bbb;
  border-radius: 50%;
  z-index: 13;
}

.panel:after {
  transform: scaleX(0.2) scaleY(1.5);
}

/* .panel:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -97px;
  width: 200px;
  height: 350px;
  background-color: #161a1d;
  opacity: 0.1;
  transition: 0.2s ease;
} */

.panel:after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  background-color: #346492;
  box-shadow: inset 0 -10px #333, inset 50px -10px #2883d7,
    inset -50px -10px #2883d7;
  top: -75px;
  left: -97px;
  transition: 0.2s ease;
  transform-origin: top;
}

input#panel {
  display: none;
}

#pfp:hover ~ .panel:after {
  transform: scaleX(1) scaleY(1);
}

/* #panel:checked + .panel:before {
  transform: scaleX(0.000001);
  opacity: 0;
} */

.stick {
  position: absolute;
  background-color: #333;
  width: 5px;
  height: 20px;
  border-radius: 20px 20px 0 0;
  top: -120px;
  left: 60px;
  z-index: 5;
}

.stick:before {
  content: "";
  position: absolute;
  border-right: 7px solid #b1a7a6;
  border-bottom: 7px solid #b1a7a6;
  border-left: 7px solid transparent;
  border-top: 7px solid transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 255px;
  left: -1px;
  transform: rotate(45deg);
}

.stick:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 15px;
  background-color: #b1a7a6;
  top: 255px;
  left: -1px;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.panel,
.stick {
  transition-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  transform: scale(0);
}

#pfp:hover ~ .panel {
  transform: scaleX(1) scaleY(1);
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

#pfp:hover ~ .stick {
  transform: scaleX(1) scaleY(1);
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

#pfp:hover {
  border: 4px solid #2883d7;
}
