.helloWorld {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  color: #2883d7;
}

.about-nick {
  position: relative;
  right: 40px;
  filter: drop-shadow(100px 5px 100px #2883d7);
}

.about-text {
  width: 700px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;

  color: #000000;
}

.blue {
  color: #1477d3;
}

.about-logo {
  position: relative;
  right: 20px;
  bottom: 20px;
  width: 511px;
}

@media (max-width: 1200px) {
  .about-text {
    width: 600px;
  }
}

@media (max-width: 986px) {
  .about-text {
    width: 700px;
  }
  .about-logo {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .about-text {
    width: 100%;
  }
}
