.helloWorld {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  color: #2883d7;
  padding-bottom: 5px;
}

.umbLogo {
  position: relative;
  right: 35px;
}

.about-section {
  position: relative;
  bottom: 120px;
}

p {
  width: 700px;
  height: 279px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  /* or 138% */

  color: #000000;
}

.blue {
  color: #1477d3;
}

.about-typo {
  padding-top: 80px;
  margin: 20px;
}

.nickumbrella {
  width: 400px;
  position: relative;
  left: -100px;
  transform: rotate(4.33deg);
  height: 650px;
}

@media only screen and (max-width: 991px) and (min-width: 767px) {
  .about-typo {
    position: relative;
    left: 70px;
  }
}
