.button-send {
  width: 105px;
  height: 40;
  border-radius: 10px;
  background: #2883d7;
  border: none;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 45px;
  color: #ffffff;
}
.contact-header {
  font-size: 60px;
  color: #2883d7;
  font-weight: 600;
}

.contact-section {
  margin-top: 50px;
}

.contact-body {
  font-size: 1.5rem;
}

.sign-up {
  width: 500px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.sign-up-box {
  padding: 20px;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);

  background: #303131;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.contact-prin {
  position: relative;
  left: 270px;
  bottom: 80px;
  z-index: -1;
  transform: rotate(-126.32deg);
}

.contact-img {
  width: 100%;
}

.socials > * {
  margin: 10px;
}

.sign-up-box {
  padding: 20px;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);

  background: #303131;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

@media (max-width: 510px) {
  .sign-up {
    width: 300px;
  }

  .sign-up > * {
    font-size: 15px !important;
  }

  .button-send {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background: #2883d7;
    border: none;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
  }
}
