* {
  font-family: "Space Grotesk";
}

.typo {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;

  color: #000000;
}

.nel {
  margin: 5px;
}

.spc {
  margin-left: 35px;
}

.toggle {
  color: red;
}

.navele {
  position: relative;
  top: 10px;
}

@media only screen and (max-width: 600px) {
  .navToggle {
    position: absolute;
    right: 0;
    margin-right: 10px !important;
    zoom: 0.9;
  }

  .navbar-brand {
    margin-right: 100px !important;
  }
}
