* {
  font-family: "Space Grotesk";
}

.typo {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
}

.nel {
  margin: 5px;
}

.navele {
  position: relative;
  top: 10px;
}

@media only screen and (max-width: 400px) {
  .navbar-brand {
    width: 180px;
  }
}
