.footer {
  background-color: #000000;
}

span button {
  text-decoration: none;
  border: none;
  padding: 0 !important;
  background-color: #000000;
  color: white;
}

.upper-box-text {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  color: #ffffff;
  margin: 20px;
}

@media (max-width: 986px) {
  .upper-box-text {
    font-size: 19px;
    margin-left: 0px;
  }
  .upper-box-col-right {
    text-align: center !important;
  }
  .upper-box-col {
    padding: 10px !important;
  }
  .lower-text-box {
    text-align: center !important;
  }
  .footer {
    text-align: center;
  }
  .footer-logo {
    position: relative;
    top: 5px;
  }
}
.upper-box-col {
  padding: 30px;
}
.upper-box-col-right {
  text-align: right;
}

.lower-box {
  padding-bottom: 20px;
}
.lower-box-text {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 45px;
  color: #ffffff;
}

.lower-box-text-underlined {
  color: #2883d7;
  text-decoration: underline;
}

.lower-text-box {
  text-align: center;
}

.footer-logo {
  position: relative;
  bottom: 15px;
  width: 285px;
}
