#sponsor_images{
  position: relative;
  transform: rotate(-15deg);
}

.sponsor-blur{
  position: absolute;
  top: -200px;
  left: 330px;
  z-index: -1;
  transform: rotate(5deg);

}


.sponsor-umbrella{
  position: relative;
  top: 210px;
  left: 415px;
}

.sponsor-plus-1{
  position: relative;
  top: 495px;
  left: 375px;
  transform: rotate(25deg);
}

.sponsor-plus-2{
  position: relative;
  top: 300px;
  left: 100px;
  transform: rotate(15deg);

}

.sponsor-plus-3{
  position: relative;
  top: 560px;
  left: 70px;
  transform: rotate(15deg);

}


.sponsors-section {
  margin-top: 70px;
}

.sponsors-heading {
  width: 298px;
  height: 86px;
  font-family: "Anek Latin", sans-serif;
  font-style: normal;
  font-size: 68px;
  line-height: 90px;

  color: #2883d7;
}

.sponsorUs {
  width: 298px;
  height: 78px;
  border-radius: 30px;
  background: #2883d7;
  box-shadow: 1px 3px 10px 1px rgba(40, 131, 215, 0.4);
  border: none;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  color: #ffffff;
  margin: 30px;
}

.sponsors-prin {
  width: 250px;
  transform: rotate(-126.32deg);
  z-index: -1;
  position: relative;
  right: 170px;
}

.sponsors-text {
  width: 600px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;

  color: #000000;
}

@media (min-width: 990px) and (max-width: 1200px) {
  .sponsors-prin {
    position: relative;
    bottom: 190px;
    left: 180px;
  }
}

@media (min-width: 767px) and (max-width: 990px) {
  .sponsors-prin {
    position: relative;
    left: -170px;
    bottom: 0px;
  }
}

@media (max-width: 767px) {
  .sponsors-prin {
    position: relative;
    left: 120px;
    bottom: 190px;
  }
}

@media (max-width: 1200px) {
  .sponsors-text {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sponsorUs {
    width: 220px;
    height: 70px;
    font-size: 19px;
  }
  .sponsors-prin {
    position: absolute;
    display: none;
  }
}
